<!-- 必须全局拥有唯一的id -->
<div id="listWfClientInstu">
    <div class="yu-toolBar">
        <el-button-group>
            <el-button icon="plus" @click="createFn">新增</el-button>
            <el-button icon="edit" @click="editFn">修改</el-button>
        </el-button-group>
    </div>
    <el-table-x ref="wfClientInstuList"  :max-height="height"
                :data-url="urls.dataUrl" :data-params="dataParams" :table-columns="tableColumns" >
    </el-table-x>
    <el-dialog-x :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible"  height="370px" width="700px">

        <el-form-x ref="instuForm" :group-fields="updateFields"  label-width="110px"></el-form-x>

        <div slot="footer" align="center">
            <el-button type="primary" @click="dialogFormVisible = false">关闭</el-button>
            <el-button v-if="dialogStatus=='create'" type="primary" @click="saveCreateFn()">确 定</el-button>
            <el-button v-if="dialogStatus=='update'" type="primary" @click="saveEditFn()">确 定</el-button>
        </div>
    </el-dialog-x>
</div>