<!--   代码编辑器样式引用开始   -->
<link rel="stylesheet" href="custom/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="custom/codemirror/addon/hint/show-hint.css">
<link rel="stylesheet" href="custom/codemirror//theme/3024-night.css">
<style type="text/css">
    .CodeMirror {
        font-size:16px;
        width: 100%;
        height: 100%;
        /*bottom: 0;
        top: 0px;*/
        position: absolute;
    }
</style>
<!--   代码编辑器样式引用结束   -->

<div id="jobInfo">
    <!--列表区域-->
    <!--列表查询区域-->
    <el-form-q ref="jobInfoQuery" :field-data="queryFields" :buttons="queryButtons"></el-form-q>
    <!--列表按钮区域-->
    <div class="yu-toolBar">
        <el-button-group>
            <el-button icon="plus" @click="addFn" v-if="addButton">新增任务</el-button>
            <el-button icon="edit" @click="modifyFn" v-if="modifyButton">编辑</el-button>
            <el-button icon="yx-bin" @click="deleteFn" v-if="deleteButton">删除</el-button>
            <el-button icon="yx-unlocked" @click="triggerFn" v-if="triggerButton">执行</el-button>
            <el-button icon="yx-lock" @click="suspendFn" v-if="suspendButton">暂停</el-button>
            <el-button icon="yx-lock" @click="recoveryFn" v-if="recoveryButton">恢复</el-button>
            <el-button icon="yx-lock" @click="openLogFn" v-if="openLogButton">日志</el-button>
            <el-button icon="document" @click="openCodeEditFn" v-if="openCodeEditButton">GLUE</el-button>
        </el-button-group>
    </div>
    <!--主列表-->
    <el-table-x ref="jobInfoTable" :max-height="height - 140" :checkbox="true"
                :data-url="jobInfoTableUrl" :table-columns="tableColumns"
                @custom-detail-click="infoFn">
    </el-table-x>
    <!--新增修改维护面板-->
    <el-dialog-x :title="viewTitle[viewType]" :visible.sync="dialogVisible" width="1000px">
        <el-form-x ref="jobInfoForm"
                   :group-fields="updateFields" :buttons="updateButtons"
                   :disabled="formDisabled" label-width="120px"></el-form-x>
    </el-dialog-x>
    <!--代码编辑器-->
    <el-dialog-x :visible.sync="editCodeDialogFormVisible" height="500px" width="1200px">
        <el-form ref="ideEditorForm" v-model="ideEditor" :inline="true">
            <el-form-item label="历史版本">
                <el-select v-model="ideEditor.thisSelectedCodeVersion" placeholder="请选择" @change="codeVersionChanged()" width="100px">
                    <el-option
                            v-for="item in ideEditor.codeVersionOptions"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <textarea ref="ideEditor" v-model="ideEditor.glueSource">
		    </textarea>
            <el-form-item label="代码备注">
                <el-input v-model="ideEditor.glueRemark" placeholder="请输入代码备注信息"></el-input>
            </el-form-item>
            <el-button type="primary" @click="saveNewCode()">保存</el-button>
        </el-form>
    </el-dialog-x>
</div>